# macOS system files
.DS_Store
.Trash/
.Trashes/
.Spotlight-V100/
.fseventsd/
__MACOSX/

# Thumbnails (macOS)
._*

# Thumbnails (Windows)
Thumbs.db

# Dropbox system files
.recycle/

# Logseq back-up files
bak/

# Obsidian files
#.obsidian/plugins/
.obsidian/

